LANGUAGE 0x19, 0x01 // LANG_RUSSIAN, SUBLANG_DEFAULT

#pragma code_page(65001) // UTF-8

STRINGTABLE
{
    101, "Стандартные иконки"
    102, "&О программе"
    103, "О программе"
    104, "Стандартные иконки\r\nВерсия 3.0, март 2023 г.\r\n© 1998-2023 Алексей Иванов"
}
